main {
    padding: 30px;
}

.m {
    padding: 58px;
}

.removebtn {
    margin-top: 24px;
}

header .navbar {
    border-radius: 0px;
}

.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn both ease;
}

.navbar {
    border-radius: 0px;
}

a>.profileicon {
    height: 25px;
}

.dropdown-menu>li>a:hover {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background: rgb(173, 173, 173);
}

.dropdown-menu>li {
    margin-top: -4px;
    margin-bottom: 4px;
}

li.dropdown>a {
    cursor: pointer;
}


/* 
-------------------------------------registration
*/

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #607D8B;
    border-color: #607D8B;
}

.panel-primary {
    border-color: #607D8B;
}

.main-container {
    margin-top: -18px;
}

.uname {
    font-size: 13px;
    color: #fff !important;
}

.dte {
    margin-top: -17px;
    color: #fff;
    padding-left: 43px;
}

.pwd {
    left: -29px;
}

.genpwd {
    margin-left: -46px;
}

table,
tr td {
    border: 1px solid #a98a8a0d;
}

tbody {
    display: block;
    height: 250px;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}

table {
    width: 400px;
}

.th-label {
    text-align: left;
    background-color: #ebebeb;
}

.table>tbody>tr>td.icount {
    width: 6%;
    text-align: center;
    background-color: #ebebeb;
    border-top: 1px solid #ddd0;
}

ul>li>a {
    font-weight: 700 !important;
}


/* total rows */

.totalrows {
    margin-right: 153px;
    margin-top: 19px;
    font-weight: 700;
}

span {
    font-weight: 700;
}

.custom-pwd {
    width: 179px;
}

.genbutton {
    margin-top: -54px;
    margin-left: 182px;
}

.passwordinfo {
    margin-top: -20px;
}

.inactive {
    color: red;
    background-color: #ebebeb;
}

.active {
    /* background-color: red; */
    color: dimgrey;
}

.table>tbody>tr>td {
    background-color: #ffffff;
    border-top: 1px solid #ddd0;
}

.table>tbody>tr>td.active {
    background-color: #ffffff;
    border-top: 1px solid #ddd0;
}


/* chart */


/* line 20, ../sass/pizza.scss */

[data-pie-id] li:nth-child(0) {
    color: blue;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id] li:nth-child(1) {
    color: #4d00ff;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id] li:nth-child(2) {
    color: #9900ff;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id] li:nth-child(3) {
    color: #e500ff;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id] li:nth-child(4) {
    color: #ff00cc;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id] li:nth-child(5) {
    color: #ff0080;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id] li:nth-child(6) {
    color: #ff0033;
}


/* line 26, ../sass/pizza.scss */

ul[data-pie-id] {
    list-style: none;
    padding: 10px;
}

[data-pie-id='my-cool-chart'] li:nth-child(0) {
    color: #d84200;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id='my-cool-chart'] li:nth-child(1) {
    color: #fc4d00;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id='my-cool-chart'] li:nth-child(2) {
    color: #ff6420;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id='my-cool-chart'] li:nth-child(3) {
    color: #ff7d44;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id='my-cool-chart'] li:nth-child(4) {
    color: #ff9668;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id='my-cool-chart'] li:nth-child(5) {
    color: #ffaf8b;
}


/* line 20, ../sass/pizza.scss */

[data-pie-id='my-cool-chart'] li:nth-child(6) {
    color: #ffc8af;
}


/* button */

.btn-danger {
    color: #fff;
    background-color: #F44336;
    border-color: #d43f3a;
}

.savebtn {
    margin-right: -34px;
}


/* info data */

.notfound {
    margin-top: -22px;
}

.notfound>small {
    color: red;
}

.notfoundmember {
    margin-top: -11px;
}

.notfoundmember>small {
    color: red;
}

.cl-dashboard {
    color: #fffefd;
    background-color: #FF5722;
    border-color: 1px solid #f9572fad;
}

.voters-dashboard {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.fl-dashboard {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.tbody {
    display: block;
    height: auto;
    overflow: auto;
}

.navbar-inverse {
    background-color: #4A148C;
    border-color: #4A148C;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #4a199f;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fffdfd;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
    position: relative;
    top: 77px;
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
}

#wrapper.active {
    padding-left: 150px;
}

#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a,
.sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sub_icon {
    float: right;
    padding-right: 65px;
    padding-top: 10px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all .4s ease 0s;
    }
}

#main_icon {
    /* float: right; */
    /* padding-right: 65px; */
    padding-top: 20px;
    margin-left: 9px;
}

.tbody {
    display: block;
    height: 200px;
    overflow: auto;
}

.pannel-custom {
    margin-top: 1px;
}

.panel-primary,
.panel-heading {
    border-radius: 0px;
}

.container-fluid-custom {
    margin-top: 80px;
}