<form autocomplete="off" ng-show="register.update">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="u_fname">First Name</label>
            <input type="text" id="u_fname" autocomplete="off" readonly class="form-control" ng-model="register.u_fname">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="u_mname">Middle Name</label>
            <input type="text" id="u_mname" autocomplete="off" readonly class="form-control" ng-model="register.u_mname">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="u_lname">Last Name</label>
            <input type="text" id="u_lname" autocomplete="off" readonly class="form-control" ng-model="register.u_lname">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="u_uname">User Name</label>
            <input type="text" id="u_uname" autocomplete="off" readonly class="form-control" ng-model="register.u_uname">
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
            <label for="u_pwd">Password</label>
            <input type="text" id="u_pwd" autocomplete="off" readonly class="form-control" ng-model="register.u_pwd">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="u_usrtype">User Type</label>
            <input type="text" id="u_usrtype" autocomplete="off" readonly class="form-control" ng-model="register.u_usrtype">

            <select class="form-control " id="u_usrtype" ng-model="register.u_usrtype" required>
                <option value="Co-admin">Co-admin</option>
                <option value="Encoder">Encoder</option>
                <option value="Viewer">Viewer</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="u_status">Status</label>
            <select class="form-control " id="u_status" ng-model="register.u_status" required>
                <option value="Co-admin">Co-admin</option>
                <option value="Encoder">Encoder</option>
                <option value="Viewer">Viewer</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-warning" ng-click="register.userentry=false;register.preview=false;">Update</button>
    </div>
</form>