<div class="page-header">
    <h2>User form</h2>
</div>
<form ng-submit="register.regUser(regData);">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" ng-model="register.regData.email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter Username" ng-model="register.regData.username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" ng-model="register.regData.password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<div ng-show="register.loading" >
    <img src="asset/image/loading.gif" height="60px">
</div>
<div class=" show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success" role="alert">
        <img src="asset/image/loading.gif" height="60px">&nbsp;{{ register.successMsg }}
    </div>
</div>
<div class="show-hide-message" ng-show="register.errorMsg">
        <div class="alert alert-danger" role="alert">
            {{ register.errorMsg }}
        </div>
</div>
